@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

$font-family: "Source Sans 3", sans-serif;
$primary-color: #DDDDDD;
$accent-color: #134880;
$white-color: #FFFFFF;
$dark-grey-color: #484A4C;
