@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf') format('opentype');  

    font-family: 'HelveticaNeue'; 
    src: url('../fonts/helvetica-neue/HelveticaNeueLight.otf') format('opentype'); 
}

.header {
    width: 100%;
    height: 100px;
    background-color:  white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header-box1 {
    width: 301px;
    height: 100px;
    background-color:  #DDDDDD;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    z-index: 1;
}

.header-box2 {
    width: 100%;
    height: 100px;
    background-color:  #DDDDDD;
    position: absolute;
    left: 320px;
    top: 0;
    right: 0;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    z-index: 1;
}

.header-content {
    font-family: 'HelveticaNeue';
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 39px;
    text-align: center;
    position: relative;
    z-index: 2; 
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #DDDDDD;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
} 

.footer-content {
    font-family: 'HelveticaNeue';
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 42px;
    margin-left: 81px;
    position: relative;
    z-index: 2; 
}

.image img {
    width: 100%; 
    height: 200px; 
    display: block;
    border-radius: 4px;
}

.top-row {
    display: flex;
    gap: 10px;
    width: 1230px;
    height: 200px;
    margin-top: 145px;
    margin-left: -120px;
    margin-bottom: 20px;
}

.bottom-row {
    display: flex;
    gap: 10px;
    width: 1080px;
    height: 200px;
    top: 370px;
    margin-left: -130px;
}

.text-box1 {
    display: flex;
    width: 300.93px;
    height: 120px;
    left: 1130px;
    top: 160px;
    margin-top: -35px;
    position: absolute;
}

.text-box2 {
    display: flex;
    width: 300.93px;
    height: 156px;
    left: 1130px;
    top: 280px;
    position: absolute;
}

.text1 {
    font-family: 'SourceSansPro';
    font-weight: bold;
    font-size: 32px;
    color: #134880;
}

.text2 {
    font-family: 'SourceSansPro';
    font-size: 18px;
    line-height: 17.58px;
}

.previous-button,
.next-button {
    width: 60px;
    height: 60px;
    left: 1050px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
}

.previous-button {
    top: 365px; 
}

.next-button {
    top: 435px; 
}
